<h1 class="text-2xl font-bold mb-4">Invoices</h1>
<table class="min-w-full border">
  <thead>
    <tr>
      <th>Client</th>
      <th>Amount ($)</th>
      <th>Status</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.client.name %></td>
        <td><%= invoice.amount_cents / 100.0 %></td>
        <td><%= invoice.status %></td>
        <td><%= invoice.due_date %></td>
        <td><%= link_to 'View', invoice_path(invoice), class: "text-blue-500" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
